*{
    box-sizing: border-box;
}
body{
    border: 5px double black;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
h1{
    width: 200px;
    background-color: aqua;
    text-align: center;
    text-transform:uppercase;
    font-family:'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
.picture,img{
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.design{
    border: 1px solid rgb(214, 100, 6);
    width: 50%;
    height: 50px;
    background-color:gold;
    outline: 1px double goldenrod;
    outline-offset: 10px;
    overflow-y: scroll;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;

}
table, th ,td ,tr{
    border: 2px solid green;
    border-collapse: collapse;
    width: 50%;
    padding: 10px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
tr:nth-child(odd){
    background-color: aqua;
    
}
.color{
    background-color: bisque;
    width: 100%;
}
h3{
    text-transform: capitalize;
    font-weight: 200px;
    font-style: italic;
}
tr ,input ,select{
    border-radius: 5px;
}
button{
    border-radius: 5px;
}
button:hover{
    background-color: aqua;
    cursor: pointer;

}
